# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
maestro_ana_.zip
.maestro_ana.zip.icloud

# ENVs
.env*
ecosystem.config.js
pm2.config.js

# misc
.DS_Store
.eslintcache
package-lock.json
file:/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/settings.json
